body{
  margin: 0;
}
.App{
  width: min(700px,100%);
  margin: 0 auto;
}
header#header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 8px #00000033;
}

header#header a{
  text-decoration: none;
  color: black;
}

#loader-container{
  position: fixed;
  inset: 0 0 0 0;
  z-index: 100000;
  background-color: #00000022;
}
#loader{
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: min(150px,70%);
  padding: 1rem;
  background-color: white;
}
#loader #spinner{
  display: block;
  width: min(30px, 100%);
  aspect-ratio: 1;
  border: 4px solid grey;
  border-bottom: 4px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from{
    transform: rotateZ(0deg);
  }to{
    transform: rotateZ(360deg);
  }
}

#search-bar{
  width: 90%;
  margin: 2rem auto 0;
}
#search-bar form{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#search-bar form input{
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
}
#search-bar form button{
  padding: .5rem 1rem;
  background-color: #11bdf1;
  color: white;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}
#search-result-container h3{
  padding: 1rem;
}
.result-item{
  display: block;
  margin: 1rem auto;
  text-decoration: none;
  color: black;
  border: 1px solid lightgrey;
}
#dashboard-body .item-head{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0 1rem;
}
.item-head img{
  width: 35%;
  padding: 1rem 0;
  aspect-ratio: 1;
  object-fit: contain;
}
.item-details p{
  
}


/* add items page */
#dashboard-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
#dashboard-head button{
  padding: .5rem 1rem;
  background-color: #11bdf1;
  color: white;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}
.item-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  border: 1px solid lightgrey;
  padding: 1rem;
}
.item-head{
  width: 30%;
  display: flex;
  flex-direction: column;
}
.item-head button{
  padding: .5rem 1rem;
  background-color: #11bdf1;
  color: white;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}
.item-container img{
  width: 100%;
}
.item-container .item-details{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}
.item-details input,
.item-details textarea{
  font-size: 18px;
  border: none;
  margin-left: 10px;
}
.item-details textarea{
  min-height: 100px;
  width: 100%;
  resize: vertical;
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}
.item-container .item-details p {
  display: flex;
  margin: 0;
  margin-top: 10px;
}
#description-container {
  padding: 1rem 0;
}
.description-image{
  position: relative;
}
.description-image img{
  display: block;
  width: 90%;
  object-fit: contain;
  margin: 0 auto;
  padding: 1rem 0;
}
.description-image span{
  position: absolute;
  inset: auto 0 0 0;
  z-index: 10;
  padding: 1rem;
  background-color: #0000001e;
}
.description{
  padding: 1rem;
}